body {
font:100%/1.4em 'Calibre Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
-webkit-text-size-adjust:none;
-webkit-font-smoothing:antialiased;
margin:0 auto;
}

body,.menu {
background-color:#1D1F20;
background-image:linear-gradient(145deg,#1D1F20,#404348);
}

.menu-section {
margin:25px 0;
}

.menu-section-title {
text-transform:uppercase;
color:#85888d;
font-weight:700;
font-size:28px;
letter-spacing:1px;
text-align:center;
}

.menu-section-list {
list-style:none;
margin:10px 0;
padding:0;
}

.menu-section-list li {
display:block;
color:#fff;
padding:10px 20px;
}

.menu-section-list li:hover {
background-color:rgba(255,255,255,0.1);
text-decoration:none;
}

/**
 * Filter Box
 */

.filterbox {
background-color:#ddd;
}

.filterbox .search-container {
margin:0 auto;
padding:10px 35px 10px 20px;
}

.filterbox input[type=text] {
font-size:16px;
border:none;
width:100%;
padding:8px;
}

/**
 * Panel
 */

.panel {
background-color:#fff;
padding-top:5px;
min-height:100%;
}

.panel-header {
margin:85px auto 55px;
}

/**
 * hamburger
 */

.svg-hamburger {
position:absolute;
top:12px;
left:12px;
width:1.8em;
fill:#000;
}

/**
 * Map styles
 */

#map {
top:56px;
bottom:0;
height:100%;
left:0;
position:absolute;
right:0;
}

#map p {
text-align:center;
color:#616f87;
font-weight:700;
font-size:28px;

}

.infobox {
/*      overflow:hidden;*/
margin: auto;
width: 250px;
height:auto;
overflow:auto;
padding: 4px 0px 4px 22px;
text-align: center;
}

.infotitle {
text-transform:uppercase;
color:#888;
font-weight:700;
font-size:18px;
margin-bottom: 8px;
}

.infopicture {
margin-top:3px;
width: 250px;
height:150px;
object-fit:cover;
}

.inforating {
width:82px;
}

.otherinfo {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height:155px;
margin-bottom:8px;
margin-top: 4px;
}

address {
font-size: 16px;
color: #777;
line-height: 1.25;
font-style: normal;
margin-top: 8px;
}

.bizurl {
text-decoration: none;
color: #0044cc;
font-size: 16px;
}

.infobutton {
display: block;
margin: 16px auto 8px auto;
border-radius: 20px;
border-style: solid;
border-width: 1px;
border-color: #ccc;
background: #ddd;
padding: 4px 20px;
width: 100px;
text-align: center;
font-size: 12px;
text-transform: uppercase;
text-decoration: none;
font-weight: 500;
}

.infobutton:hover {
background: #eee;
border-color: #aaa;
cursor: pointer;
}

.spinner {
width:100px;
/*padding-left:8px;*/
}

/**
 * Slideout module styles
 */

.slideout-menu {
position:fixed;
top:0;
bottom:0;
width:256px;
min-height:100vh;
overflow-y:scroll;
-webkit-overflow-scrolling:touch;
z-index:0;
display:none;
}

.slideout-menu-left {
left:0;
}

.slideout-menu-right {
right:0;
}

.slideout-panel {
position:relative;
z-index:1;
will-change:transform;
min-height:100vh;
}

.slideout-open,.slideout-open body,.slideout-open .slideout-panel {
overflow:hidden;
}

.slideout-open .slideout-menu {
display:block;
}